.card{
    height: 80vh !important;
    max-height: 80vh !important;
    width: 80% !important;
    margin: 0 auto !important;
    margin-top: 5vh !important;
    margin-bottom: 5vh !important;
}
.card:hover{
    background-color: black;
    color: white;
}
.card:hover .type{
    background-color: white;
    color: black;
}
.img{
    max-width: 100% !important;
    max-height: 100% !important;
    margin: 0 auto !important;
}
.ima{
    width: 100% !important;
    height: 70% !important;
    margin: 0 auto !important;
}
.type{
    background: black;
    border-radius: 2vw;
    color: white;
    width: 35%;
    margin-left: 1vw;
    margin-right: 1vw;
    margin: 0 auto !important;
}
.types{
    display: flex;
    flex-wrap: wrap;
}
.decoration{
    text-decoration: none;
}